*.o
*.ko
*.s
!assembly/x86_64/**/*.s
*.cmd
*.symvers
*.order
*.mod
.vscode/*
*.log
**/.DS_Store
c/bin/
cpp/**/build/
framework/**/build/
meson/build/
python/scrapy/.scrapy/
python/.ipynb_checkpoints/
java/out/
*.class
rust/**/target/
